* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

body {
  background-color: beige;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  background-color: lightgrey;
  margin: 50px auto;
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}

input {
  margin: 50px 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: lime;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}
